<!DOCTYPE HTML>
{% extends 'base.html' %}
{%load static %}

{% block title %}Banking{% endblock%}
{% block content %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

<header>
    <button type="button" class="btn bg-gradient-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add
</button>
</header>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Banking id</th>
            <th scope="col">Date</th>
            <th scope="col">Department</th>
            <th scope="col">Bank Name</th>
            <th scope="col">Account Number</th>
            <th scope="col">Account Name</th>
            <th scope="col">Bank Receipt Number</th>
            <th scope="col">Amount Banked</th>
            <th scope="col">Currency</th>
            <th scope="col">Source</th>
            <th scope="col">File</th>
            <th scope="col">Banked by</th>





          
          
        </tr>
    </thead>
   
        {% for bank in banks %}
        <tr>
            <td scope="row">{{bank.id}}</td>
            <td>{{bank.date}}</td>
            <td>{{bank.department}}</td>
            <td>{{bank.bank_name}}</td>
            <td>{{bank.account_no}}</td>
            <td>{{bank.account_name}}</td>
            <td>{{bank.receipt_no}}</td>
            <td>{{bank.amount_banked}}</td>
            <td>{{bank.curency}}</td>
            <td>{{bank.source}}</td>
            <td>{{bank.file}}</td>
            <td>{{bank.banked_by}}</td>
           
           
            <td>
                <a href="{% url 'edit_banking' bank.id %}"><i class="fa fa-pencil" aria-hidden="true">edit</i></a> |
                <a href="{% url 'delete_banking' bank.id %}" onclick="return confirm('Are you sure you want to continue?')">delete
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
            </td>
       
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
