<!DOCTYPE HTML>
{% extends 'base.html' %}
{% block title %}Department{% endblock%}
{% block content %}
<header>
    <button type="button" class="btn bg-gradient-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product
</button>
</header>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Banking id</th>
            <th scope="col">Date</th>
            <th scope="col">Department</th>
            <th scope="col">Bank Name</th>
            <th scope="col">Account Number</th>
            <th scope="col">Account Name</th>
            <th scope="col">Bank Receipt Number</th>
            <th scope="col">Amount Banked</th>
            <th scope="col">Currency</th>
            <th scope="col">Source</th>
            <th scope="col">File</th>
            <th scope="col">Banked by</th>





          
          
        </tr>
    </thead>
   
        {% for bank in banking %}
        <tr>
            <td scope="row">{{bank.id}}</td>
            <td>{{bank.date}}</td>
            <td>{{bank.department}}</td>
            <td>{{bank.bank_name}}</td>
            <td>{{bank.account_no}}</td>
            <td>{{bank.account_name}}</td>
            <td>{{bank.receipt_no}}</td>
            <td>{{bank.amount_banked}}</td>
            <td>{{bank.curency}}</td>
            <td>{{bank.source}}</td>
            <td>{{bank.file}}</td>
            <td>{{bank.banked_by}}</td>
           
          
                
       
            
            
            <td>
                <a href="{% url 'add_banking' department.id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a> |
                {% comment "" %}<a href="{% url 'delete' department.id %}" onclick="return confirm('Are you sure you want to continue?')">{% endcomment %}
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
            </td>
       
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
